<div id="comment_<%=comment.id %>" class="post_comment">
	<p>
	  <b>Commenter:</b>
	  <%= comment.commenter %>
	</p> 
	<p>
	  <b>Comment:</b>
	  <%= comment.body %>
	</p>
	<%= link_to 'Delete', [comment.post, comment], :method => "delete", :class => "comment_delete" %>
	<br />
	<br />
</div>