$("#post_<%= @post.id %>").find(".comments").append("<%= escape_javascript(render :partial => 'comments/comment', :locals => {:comment => @comment})  %>");
$("#post_<%= @post.id %>").find(".new_comment")[0].reset();