<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <div id="post_<%= post.id %>">
    <div>
     <strong>Name:</strong> <%=  link_to post.name, post_path(post) %>
    </div>
    <div>
     <strong>Tiltle:</strong> <%=  post.title %>
    </div>
    <div>
     <strong>Content:</strong> <%=  post.content %>
    </div>
    <h2>Comments:</h2>
    <div class="comments">
      <%= render :partial => "comments/comment", :collection => post.comments %>
    </div>

    <h2>Add a comment:</h2>
      <%= render :partial => "comments/form", :locals => { :post => post } %>

    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= link_to 'Delete', post_path(post), :method => "delete" %>  
    <br />
    <br />
  </div>
<% end %>
<br />
<%= link_to 'New Post', new_post_path %> |
<%= link_to 'Back', root_path %> 