<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @post.name %>
</p>
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>
<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<h2>Comments:</h2>
<% @post.comments.each do |comment| %>
  <p>
    <b>Commenter:</b>
    <%= comment.commenter %>
  </p> 
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>
  <%= link_to 'Delete', [comment.post, comment], :method => "delete" %>
  <br />
  <br />
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %> <br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %> <br />
    <%= f.text_area :body, rows: "4" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br />

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Delete', post_path(@post), :method => "delete" %>
